<div id="timeline-container">
    <!--div id="timeline-debug-pane">
        <h2><span>length of time this event should show: </span><span id="time-this-event-should-show"></span></h2>
        <h2><span>time since this event started: </span><span id="time-since-event-started"></span></h2>
        <h2><span>length of time this even has been paused: </span><span id="howLongAnimationWasPaused"></span></h2>
    </div-->
    <div id="timeline-top-pane">
        <div id="timeline-top-pane-text">%%TOP_PANE_TEXT%%</div>
    </div>
    <div id="timeline-bottom-pane" class="timeline-bottom-pane-unclicked">
        <div id="timeline-bottom-pane-text">%%BOTTOM_PANE_TEXT%%</div>
    </div>
</div>
